<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyhn.exam.mapper.AppPapersUserResultMapper">

    <resultMap id="papersUserResultAll" type="PapersUserResult">
        <id property="id" column="id"></id>
        <result property="papersId" column="papers_id"></result>
        <result property="iexerciseId" column="exercise_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="userExercise" column="user_exercise"></result>
        <result property="papersExercise" column="papers_exercise"></result>
        <result property="right" column="right"></result>
        <result property="setScore" column="set_score"></result>
        <result property="mark" column="mark"></result>
        <association property="papersTitle" javaType="PapersTitle">
            <id property="id" column="papersTitleId"></id>
            <result property="title" column="title"></result>
            <result property="types" column="types"></result>
        </association>
    </resultMap>

    <select id="getPapersUserResultByRight" resultMap="papersUserResultAll" parameterType="Integer">
        select exam_papers_user_result.*, exam_papers_title.id papersTitleId, exam_papers_title.title, exam_papers_title.types
        from exam_papers_user_result left join exam_papers_title on exam_papers_user_result.exercise_id = exam_papers_title.id
        where exam_papers_user_result.right = 0 and exam_papers_user_result.user_id = #{userid} and exam_papers_user_result.papers_id = #{papersId}
    </select>
</mapper>
