<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.yyhn.exam.mapper.AppTechnologyDayExerciseMapper">
    <resultMap id="dayExerciseResult" type="TechnologyDayExercise">
        <id property="id" column="id"/>
        <result column="title" property="title"/>
        <result column="standardAnswer" property="standardAnswer"/>
        <result column="setScore" property="setScore"></result>
        <result column="types" property="types"></result>
        <result column="analysis" property="analysis"></result>
        <result column="remark" property="remark"></result>
        <result column="buildExerciseDate" property="buildExerciseDate"></result>
        <result column="updateExerciseDate" property="updateExerciseDate"></result>
        <association property="professional" javaType="Professional">
            <id column="professionalId" property="id"></id>
            <result column="professional_name" property="professionalName"></result>
        </association>
    </resultMap>
    <select id="getTechnologyDayExerciseSubmit" resultMap="dayExerciseResult">
        select exam_technology_day_exercise.* , exam_professional.id professionalId, exam_professional.professional_name
        from exam_technology_day_exercise left join exam_professional on exam_technology_day_exercise.Professional_id = exam_professional.id
        where 1=1
        <if test="id != 0">
            and Professional_id=#{id}
        </if>
        limit #{startRow},#{pageSize}
    </select>

    <select id="getTechnologyDayExerciseSubmitCount" resultType="Integer">
        select count(id) from exam_technology_day_exercise where 1=1
        <if test="id != 0">
            and Professional_id=#{id}
        </if>
    </select>
</mapper>
